
Big	JJ	(TOP(NP(NP*	O
Managers	NNS	*)	O
on	IN	(PP*	O
Campus	NN	(NP*))))	O

In	IN	(TOP(S(PP*	O
recent	JJ	(NP*	B-DATE
years	NNS	*))	I-DATE
,	,	*	O
advanced	JJ	(NP(NP*	O
education	NN	*)	O
for	IN	(PP*	O
professionals	NNS	(NP*)))	O
has	VBZ	(VP*	O
become	VBN	(VP*	O
a	DT	(NP(NP*	O
hot	JJ	*	O
topic	NN	*)	O
in	IN	(PP*	O
the	DT	(NP*	O
business	NN	*	O
community	NN	*)))))	O
.	.	*))	O

With	IN	(TOP(S(PP*	O
this	DT	(NP*	O
trend	NN	*))	O
,	,	*	O
suddenly	RB	(ADVP*)	O
the	DT	(NP(NP*	O
mature	JJ	*	O
faces	NNS	*)	O
of	IN	(PP*	O
managers	NNS	(NP(NP*)	O
boasting	VBG	(VP*	O
an	DT	(NP(NP*	O
average	NN	*)	O
of	IN	(PP*	O
over	IN	(NP(NP(QP*	O
ten	CD	*)	B-DATE
years	NNS	*)	I-DATE
of	IN	(PP*	O
professional	JJ	(NP*	O
experience	NN	*)))))))))	O
have	VBP	(VP*	O
flooded	VBN	(VP*	O
in	RB	(ADVP*)	O
among	IN	(PP*	O
the	DT	(NP(NP*	O
