
Powerful	JJ	(TOP(NP(NP(NP*	B-WORK_OF_ART
Tools	NNS	*)	I-WORK_OF_ART
for	IN	(PP*	I-WORK_OF_ART
Biotechnology	NN	(NP*)))	I-WORK_OF_ART
-	:	*	I-WORK_OF_ART
Biochips	NNS	(NP*)))	I-WORK_OF_ART

-LRB-	-LRB-	(TOP(FRAG*	O
Chang	NNP	(NP*	B-PERSON
Chiung	NNP	*	I-PERSON
-	HYPH	*	I-PERSON
fang	NNP	*)	I-PERSON
/	:	*	O
photos	NNS	(NP(NP*)	O
by	IN	(PP*	O
Hsueh	NNP	(NP*	B-PERSON
Chi	NNP	*	I-PERSON
-	HYPH	*	I-PERSON
kuang	NNP	*)))	I-PERSON
/	,	*	O
tr.	VBN	(VP*	O
by	IN	(PP*	O
Robert	NNP	(NP*	B-PERSON
Taylor	NNP	*)))	I-PERSON
-RRB-	-RRB-	*))	O

The	DT	(TOP(S(NP(NP*	O
enterovirus	NN	(NML*	O
detection	NN	*)	O
biochip	NN	*)	O
developed	VBN	(VP*	O
by	IN	(PP*	O
DR.	NNP	(NP*	B-ORG
Chip	NNP	*	I-ORG
Biotechnology	NNP	*))))	I-ORG
takes	VBZ	(VP*	O
only	RB	(NP*	B-TIME
six	CD	*	I-TIME
hours	NNS	*)	I-TIME
to	TO	(S(VP*	O
give	VB	(VP*	O
hospitals	NNS	(NP*)	O
the	DT	(NP(NP*	O
answer	NN	*)	O
to	IN	(PP*	O
whether	IN	(SBAR(SBAR*	O
a	DT	(S(NP*	O
sample	NN	*)	O
contains	VBZ	(VP*	O
