
President	NNP	(TOP(S(NP*	B-WORK_OF_ART
Chen	NNP	*)	I-WORK_OF_ART
Travels	VBZ	(VP*	I-WORK_OF_ART
Abroad	RB	(ADVP*))))	I-WORK_OF_ART

-LRB-	-LRB-	(TOP(FRAG*	O
Chang	NNP	(NP*	B-PERSON
Chiung	NNP	*	I-PERSON
-	HYPH	*	I-PERSON
fang	NNP	*)	I-PERSON
/	:	*	O
tr.	VBN	(VP*	O
by	IN	(PP*	O
David	NNP	(NP*	B-PERSON
Mayer	NNP	*)))	I-PERSON
-RRB-	-RRB-	*))	O

President	NNP	(TOP(S(NP*	O
Chen	NNP	*	B-PERSON
Shui	NNP	*	I-PERSON
-	HYPH	*	I-PERSON
bian	NNP	*)	I-PERSON
visited	VBD	(VP*	O
the	DT	(NP(NP*	B-FAC
Nicaraguan	JJ	*	I-FAC
National	NNP	*	I-FAC
Assembly	NNP	*))	I-FAC
on	IN	(PP*	O
August	NNP	(NP*	B-DATE
17	CD	*))	I-DATE
,	,	*	O
where	WRB	(SBAR(WHADVP*)	O
he	PRP	(S(NP*)	O
received	VBD	(VP*	O
a	DT	(NP*	O
medal	NN	*)	O
from	IN	(PP*	O
the	DT	(NP(NP(NP*	O
president	NN	*)	O
of	IN	(PP*	O
the	DT	(NP*	O
assembly	NN	*)))	O
,	,	*	O
Ivan	NNP	(NP*	B-PERSON
Escobar	NNP	*	I-PERSON
Fornos	NNP	*)))))))	I-PERSON
.	.	*))	O

-LRB-	-LRB-	(TOP(NP*	O
